h1 {
  color:red;
  
}

body {
  background-color:grey;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width:100%;
  height:100%;
}

.navBar {
	background-color:black;
  border-radius: 100px;
  border: 4px black solid;
  color:red;
  padding-right: 2.2em;
  margin: 1.04em 7em;
}

.navRight {
  display: flex;
	justify-content: flex-end;
  font-size: 1.5em;
}

.navLeft {
  float: left;
  font-family: 'Rowdies', cursive;
  font-size: 2.4em;
  color:#fafafa;
  padding: 15px 0 32px 2em;
}


.navRight p {
	padding: 0 1em;
}

.homePage {
    border: solid black;
  height: 500px;
  margin: 0 7em;
}