h1 {
  color:red;
}

body {
  background-image:url("https://static.vecteezy.com/system/resources/thumbnails/003/423/634/small/grey-gradient-abstract-backgrounds-free-vector.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width:100%;
  height:100%;
}

.navBar {
	background-color:#000000;
  border-radius: 100px;
  border: 4px black solid;
  color:red;
  padding-right: 2.2em;
  margin: 1.04em 7em;
}

.navRight {
  display: flex;
	justify-content: flex-end;
  font-size: 1.5em;
}

.navLeft {
  font-family: 'Rowdies', cursive;
  font-size: 2.4em;
  color:#fafafa;
  padding: 15px 0 32px 2em;
  text-align:center;
  float: left;
}


.navRight p {
	padding: 0 1em;
}

#featured {
  text-align:center;
  color:black;
  margin: 1.25em 0;
}

.featuredAlign {
  display:flex;
  justify-content: space-around;
}

.featuredBox {
  margin: 0 8em;
  text-align:center;
}

.homeImage {
  width:400px;
  height: 250px;
  padding: 0;
}

