h1 {
  color:red;
}

body {
  background-image:url("https://static.vecteezy.com/system/resources/thumbnails/003/423/634/small/grey-gradient-abstract-backgrounds-free-vector.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width:100%;
  height:100%;
}


.navBar {
	background-color:#000000;
  border-radius: 100px;
  border: 4px black solid;
  color:red;
  padding-right: 2.2em;
  margin: 1.04em 6em;
}

.navRight {
  display: flex;
	justify-content: flex-end;
  font-size: 1.35em;
}

.navLeft {
  font-family: 'Rowdies', cursive;
  font-size: 2.4em;
  color:#fafafa;
  padding: 15px 0 40px 2em;
  text-align:center;
  float: left;
}


.navRight p {
	padding: 0 1em;
}


h4 {
  font-size: 1.7em;
}


a {
  text-decoration: none;
}

/* ------------------- */
/*General Pages Alignment and Layout*/ 

.pageHeader {
  text-align:center;
  color:black;
  margin: 1.25em 0;
}

.pageAlign {
  display:flex;
  justify-content: space-around;
  
}

.projectBox {
  text-align:center;
  margin: 2em 0;
}

.projectBox:hover {
  transform: scale(1.2);
  transition: 1.5s;
}

.projectBox p {
  padding: 0 2em;
}

.projectsImage {
  width:350px;
  height: 200px;
  padding: 0;
  border: white ridge 10px;
}
/* ------------------- */


/*About Me Page*/
#alignAbout {
  display: flex;
  justify-content: center;  
}
#bioBox {
  padding: 0em;
  border:black solid;
}

#bioBox p {
  border:black dashed;
  padding: 33px;
  width: 8em;
}

/*This is the dropdown menu for the Projects button on the nav-bar */
/* Dropdown Button */
#projectsButton {
  background-color: #000000;
  color: red;
  font-size: 1em;
  border: none;
}

/* This contains the content of the dropdown, and positions it */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown menu */
.dropdown-menu {
  display: none; /* (Hidden by Default) */
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the menu*/
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*Changes link background-color when hover over*/
.dropdown-menu a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover #projectsButton {
  background-color: #fcfcfc;
}
